<header class="main_header">
    <a href="#" class="logo"><img src="{{ asset('img/logocid2.png') }}" alt="Logo"></a>
    <div class="toggle"></div>
    <ul>
        <li><a href="{{ path('index') }}">Accueil</a></li>
        <li><a href="{{ path('projects') }}">Projets</a></li>
        <form>
            <div class="inputBox">
                <input type="text" name="" placeholder="Recherche">
            </div>
        </form>
        <li><a href="#" class="user"><i class="fas fa-user"></i></a></li>
    </ul>
</header>