@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Zen+Kaku+Gothic+Antique&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
}


header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 40px 100px;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.5s;

    &.sticky{
        background-color: #fff;
        padding: 20px 100px;
        box-shadow: 0 5px 10px rgba($color: $black, $alpha: 0.1);

        & .logo{
            color: $black;
        }

        & ul li a{
            color: $black;

            &:hover{
                color: $black;
            }
        }
    }
    
    &.header_black{
        & .logo{
            color: $black;
        }

        & ul li a{
            color: $black;
        }
    }

    .logo{
        color: #fff;
        width: 150px;
        text-decoration: none;
        font-weight: 700;
        letter-spacing: 2px;

        img{
            width: 100%;
        }
    }

    ul{
        position: relative;
        display: flex;
        margin-right: 50px;
        align-items: center;
        margin-bottom: 0;

        li{
            position: relative;
            list-style: none;
            margin-right: 50px;
            cursor: pointer;

            a{
                cursor: pointer;
                position: relative;
                display: inline-block;
                margin: 0 15px;
                color: #fff;
                font-weight: 700;
                font-size: 20px;
                text-decoration: none;

                &:before, &:after{
					content: "";
					position: absolute;
					bottom: -5px;
					width: 0px;
					height: 2px;
					margin: 2px 0 0;
					transition: 0.1s ease-in-out;
					transition-duration: 0.5s;
					opacity: 0;
					background-color: $orange;
					left: 0;
				}

                &:hover{
                    color: #fff;
                }

                &:hover:before, &:hover:after{
					width: 100%;
					opacity: 1;
				}
                
                &.user{
                    margin-left: 50px;

                    &:before, &:after{
                        height: 0;
                    }
                }
            }
        }
    }

    input{
        border-radius: 25px;
        padding: 5px;
        border: none;
    }
}